@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/fraunces-v31-latin-900.woff2') format('woff2');
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before *::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", 'Arial', 'sans-serif';
    font-size: 18px;
    line-height: normal;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

li,
a {
    text-decoration: none;
    list-style: none;
}

header {
    padding-top: 20px;
    margin-bottom: 45px;
}

.container {
    width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__item {
    color: #83888F;
    font-family: 'Barlow';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
}

.header__item:hover {
    color: #333D4B;
}

.header__item+.header__item {
    padding-left: 33px;
}

/* hero */

.hero .container {
    background-image: url("/img/Bitmap.png");
    width: 1280px;
    height: 620px;
    border-radius: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 200px;
}

.hero__heading {
    margin: 0;
    padding: 0;
    padding-top: 133px;
    padding-left: 86px;
    padding-bottom: 32px;
    width: 493px;
    color: #FEFCF7;
    font-family: 'Fraunces';
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
}

.hero__text {
    margin: 0;
    padding: 0;
    padding-left: 86px;
    padding-bottom: 71px;
    width: 445px;
    color: #FEFCF7;
    font-family: 'Barlow';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
}

.hero__link {
    border-radius: 6px;
    background: #0E8784;
    color: #FEFCF7;
    text-align: center;
    font-family: 'Fraunces';
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    padding: 15px 37px;
    margin-left: 86px;
}

.hero__link:hover {
    background: #66D2CF;
}

/* card */

.card .container {
    background-image: url("/img/Group13.png");
    padding-top: 100px;
    width: 1111px;
    height: 196px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
}

.card {
    margin-bottom: 400px;
}

.card__box {
    width: 255px;
    margin-left: -80px;
    margin-top: 40px;
    margin-bottom: 189px;
}

.card__box+.card__box {
    margin-left: 60px;
}

.card__heading {
    color: #333D4B;
    text-align: center;
    font-family: 'Fraunces';
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
}

.card__text {
    width: 255px;
    color: #333D4B;
    text-align: center;
    font-family: 'Barlow';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

/* about */

.about .container {
    background-color: #2C343E;
    width: 1280px;
    height: 580px;
    border-radius: 8px;
}

.about {
    margin-bottom: 400px;
}

.about__heading {
    margin: 0;
    padding: 0;
    padding-bottom: 33px;
    color: #FEFCF7;
    text-align: center;
    font-family: 'Fraunces';
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    padding-top: 110px;
}

.about__text {
    margin: 0;
    padding: 0;
    padding-left: 360px;
    padding-bottom: 86px;
    width: 540px;
    color: #FEFCF7;
    text-align: center;
    font-family: 'Barlow';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.8;
}

.about__list {
    display: flex;
    margin-left: 45px;
}

.about__item+.about__item {
    margin-left: 30px;
}

.about__item {
    width: 350px;
    background-color: #0E8784;
    border-radius: 8px;
}

.about__icon {
    margin-left: 136px;
    margin-top: 72px;
    margin-bottom: 56px;
}

.about__item__heading {
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
    color: #FEFCF7;
    text-align: center;
    font-family: 'Fraunces';
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
}

.about__item__text {
    margin: 0;
    padding: 0;
    padding-left: 50px;
    width: 255px;
    color: #FEFCF7;
    text-align: center;
    font-family: 'Barlow';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 60px;
}

/* work */

.work {
    padding-left: 140px;
    margin-bottom: 200px;
}

.work__heading {
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
    color: #83888F;
    font-family: 'Fraunces';
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
}

.work__box {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    margin-top: -18px;
    margin-bottom: 67px;
}

.work__circle {
    width: 31px;
    height: 31px;
    border: 2px solid #0E8784;
    background-color: #FEFCF7;
    border-radius: 50%;
}

.work__line {
    width: 760px;
    height: 1px;
    background-color: #FDD6BA;
    display: block;
}

.work__list {
    margin-left: -40px;
    display: flex;
}

.work__item+.work__item {
    margin-left: 95px;
}

.item__heading {
    margin: 0;
    padding: 0;
    padding-bottom: 38px;
    color: #FDD6BA;
    font-family: 'Fraunces';
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
}

.work__item__heading {
    margin: 0;
    padding: 0;
    padding-bottom: 42px;
    width: 255px;
    color: #333D4B;
    font-family: 'Fraunces';
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
}

.work__item__text {
    margin: 0;
    padding: 0;
    width: 270px;
    color: #333D4B;
    font-family: 'Barlow';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 79px;
}

.work__next {
    margin-left: 0;
}

/* footer */

.footer {
    background-color: #2C343E;
}

.footer .container {
    display: flex;
}

.footer__link__picture {
    padding: 45px 85px;
}

.footer__link__box {
    padding-top: 50px;
    padding-right: 369px;
}

.footer__link {
    color: #83888F;
    font-family: 'Barlow';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
}

.footer__link + .footer__link {
    padding-left: 33px;
}

.footer__link:hover {
    color: #FEFCF7;
}

.footer__pic__boxx {
    padding-top: 40px;
}
